<h2>My Devices</h2>

<div class="list-group col-lg-5">
  <% if current_user.devices.any? %>
    <% current_user.devices.each do |device| %>
      <% if !device.UDID.nil? %>
        <div class="list-group-item user-devices">
          <h4 class="list-group-item-heading"><%= device.friendly_model %></h4>
          <p class="list-group-item-text udid">UDID: <%= device.UDID %></p>
          <p class="list-group-item-text"><%= link_to 'Delete', destroy_device_path(device), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        </div>
      <% end %>
    <% end %>
  <% else %>
    You do not have any registered devices. That does not mean that you will not be able to install builds, just that we don't have any on record for reference. <span class="hidden-lg hidden-md"><a href="/elk.mobileconfig">Tap here to register your device.</a></span>
  <% end %>
</div>

<div class="clearfix"></div>



<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => "form", :class => "col-lg-5" }) do |f| %>
  <% if devise_error_messages? %>
    <div class="alert alert-danger" role="alert">
      <%= devise_error_messages! %>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true, :class => 'form-control' %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="form-group">
    <%= f.label :password %><br />
    <%= f.password_field :password, :autocomplete => "off", :class => 'form-control' %>
    <span class="help-block">leave blank if you don't want to change it</span>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :current_password %><br />
    <%= f.password_field :current_password, :class => 'form-control' %>
    <span class="help-block">we need your current password to confirm your changes</span>
  </div>

  <div class="form-group">
    <%= f.submit "Update", :class => "btn btn-primary btn-block" %>
  </div>
<% end %>

<div class="clearfix"></div>

<div class="col-lg-5">

  <h3>Cancel my account</h3>
  <p>Unhappy? <%= button_to "Cancel my account",
                  registration_path(resource_name),
                  :data => { :confirm => "Are you sure?" },
                  :method => :delete,
                  :class => 'btn btn-danger btn-block' %>
  </p>

</div>

<%= link_to "<< Back", :back %>
