<div class="col-lg-5">
  <%= form_for(@build) do |f| %>
    <% if @build.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@build.errors.count, "error") %> prohibited this build from being saved:</h2>

        <ul>
        <% @build.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field spacer release-notes">
      <%= f.label :release_notes %><br />
      <%= f.text_area :release_notes, :class => "form-control", :rows => 5 %>
    </div>

    <div class="field">
      <% if @app.nil? %>
        <%= f.label :app_id %><br />
        <select name="build[app_id]">
          <% current_user.apps.each do |app| %>
            <option value="<%= app.id %>"><%= app.name %></option>
          <% end %>
        </select>
      <% else %>
        <%= f.text_field :app_id, :value => @app.id, :class => :hidden %>
      <% end %>
    </div>

    <div class="build-upload">
      <div class="field file-drag">
        <%#= f.label :file %>
        <%#= f.file_field :file %>
        <div class="file-drag-inner">
          drag .ipa file here
        </div>
      </div>
    </div>

    <div class="upload-progress-container">
      <div class="progress progress-striped active hidden col-lg-5" id="build_upload_progress">
        <div class="bar" style="width: 0%;"></div>
      </div>
    </div>
    
    <%= f.text_field :version, :class => :hidden %>
    <%= f.text_field :build_number, :class => :hidden %>

    <div class="clearfix"></div>
    
    <div class="col-lg-5">
      <input id="upload_id" name="upload_id" type="text" class="hidden" />

      <label class="checkbox">
        <input type="checkbox" value="yes" name="notify_users" checked="checked">
        Notify users
      </label>
    </div>

    <div class="clearfix"></div>

    <div class="actions spacer">
      <%= f.submit :id => "build_submit", :class => "btn btn-primary", :disabled => :disabled %>
    </div>
  <% end %>
</div>

<% content_for :inline_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      var myDropzone = new Dropzone(".file-drag", {
        url: "/builds/upload", 
        headers: {
          'X-CSRF-Token':$('meta[name="csrf-token"]').attr('content')
        },
        paramName: 'build_upload[file]',
        init: function() {
          this.on("dragenter", function(file){
            $("div.file-drag-inner").first().html('drop .ipa file here');
          });
          this.on("dragleave", function(file){
            $("div.file-drag-inner").html('drag .ipa file here');
          });
          this.on("addedfile", function(file){
            console.log('added file');
          });
        },
        sending: function(){
          $("#build_upload_progress").removeClass('hidden');
          console.log('sending');
        },
        uploadprogress: function(file, progress, bytessent){
          $("#build_upload_progress .bar").css('width', progress + '%');
        },
        success: function(file, response){
          $("#upload_id").val(response.id);
          $("#build_submit").attr('disabled', false)
          $(".dz-preview").removeClass('dz-processing').addClass('dz-success');
        }
      });
    });
  </script>
<% end %>