<p id="notice"><%= notice %></p>

<p>
  <%= link_to "<< Back to #{@build.app.name}", app_path(@build.app) %>
</p>

<h4><%= "#{@build.app.name} #{@build.version} (##{@build.build_number})" %></h4>

<p>
  <b>Release notes:</b>
  <p><%= simple_format @build.release_notes %></p>
</p>

<a href="itms-services://?action=download-manifest&url=<%= AppConfig.host + @build.app.builds.last.plist_url %>"
  class="btn btn-primary hidden-desktop">
    Install <%= "#{@build.version} (##{@build.build_number})" %>
</a>