<p id="notice"><%= notice %></p>

<h1><%= @app.name %> Users</h1>

<br />

<p>
  <%= link_to "+ New user", "#", :class => "new_app_user_form_container_link" %>
</p>

<div class="row hidden new_app_user_form_container">
  <div class="col-lg-5">
    <%= form_for :form, :url => new_app_user_path(@app), :html => {:fole => "form"} do |f| %>
      <p class="form-group">
        <label>Email:</label>
        <input type="text" name="user[email]" class="new_app_user_email form-control" />
      </p>
      <p class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </p>
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @app.users.each do |user| %>
      <tr>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= link_to "Delete", delete_app_user_path(@app, user), :confirm => "Are you sure?", :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "<< Back to #{@app.name}", app_path(@app) %>
</p>

<% content_for :inline_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".new_app_user_form_container_link").click(function(ev){
        ev.preventDefault();
        $(".new_app_user_form_container").toggleClass('hidden');
        $(".new_app_user_email").focus();
      });
    });
  </script>
<% end %>