<p id="notice"><%= notice %></p>

<h1><%= @app.name %> Users</h1>

<br />

<p>
  <%= link_to "+ New user", "#", :class => "new_app_user_form_container_link" %>
</p>

<div class="row hidden new_app_user_form_container">
  <div class="col-lg-5">
    <%= form_for :form, :url => new_app_user_path(@app), :html => {:role => "form"} do |f| %>
      <p class="form-group">
        <label>Email:</label>
        <input type="text" name="user[email]" class="new_app_user_email form-control" />
      </p>
      <p class="form-group">
        <label>Role:</label>
        <select class="new-user-role-select" name="user_role">
          <% UserRole::ROLES.keys.each do |key| %>
            <option value="<%= UserRole::ROLES[key] %>"><%= UserRole::ROLES[key] %></option>
          <% end %>
        </select>
      </p>
      <p class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </p>
    <% end %>
  </div>
</div>

<table class="table table-striped table-hover app-users">
  <thead>
    <tr>
      <th></th>
      <th>Email</th>
      <th>User Role</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @app.users.each do |user| %>
      <tr>
        <td><span class="glyphicon glyphicon-chevron-down show-devices" data-user-id="<%= user.id %>"></span></td>
        <td>
          <%= user.email %>
          <div class="app-user-devices user-<%= user.id %>-devices">
            <% if user.devices.any? %>
              <strong>Devices</strong>
              <% user.devices.select{|device| !device.UDID.nil?}.each do |device| %>
                <p>
                  Model: <%= device.friendly_model %>
                  <br />
                  UDID: <%= device.UDID %>
                </p>
              <% end %>
            <% else %>
              This user has not registered any devices yet.
            <% end %>
          </div>
        </td>
        <td>
          <select class="user-role-select" data-user-id="<%= user.id %>">
            <% UserRole::ROLES.keys.each do |key| %>
              <% if UserRole::ROLES[key] == @app.role_for_user(user).role %>
                <option value="<%= UserRole::ROLES[key] %>" selected="selected"><%= UserRole::ROLES[key] %></option>
              <% else %>
                <option value="<%= UserRole::ROLES[key] %>"><%= UserRole::ROLES[key] %></option>
              <% end %>
            <% end %>
          </select>
        </td>
        <td>
          <%= link_to "Delete", delete_app_user_path(@app, user), :confirm => "Are you sure?", :method => :delete %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p>
  <%= link_to "<< Back to #{@app.name}", app_path(@app) %>
</p>

<% content_for :inline_scripts do %>
  <script type="text/javascript">
    $(document).ready(function(){
      $(".new_app_user_form_container_link").on('click', function(ev){
        ev.preventDefault();
        $(".new_app_user_form_container").toggleClass('hidden');
        $(".new_app_user_email").focus();
      });

      $(".user-role-select").on('change', function(){
        $.ajax({
          type: 'PUT',
          url: '/apps/<%= @app.id %>/users/' + $(this).data('user-id'),
          data: {
            role: $(this).val()
          },
          success: function(data){
            console.log(data);
          }
        });
      });

      $(".show-devices").on('click', function(){
        $('.user-' + $(this).data('user-id') + '-devices').slideToggle();
      });
    });
  </script>
<% end %>
