<!DOCTYPE html>
<html>
  <head>
    <title>Elk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'includes/menu' %>

    <% if(!notice.nil?) %>
      <p class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </p>
    <% end %>

    <% if(!alert.nil?) %>
      <p class="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= alert %>
      </p>
    <% end %>

    <div class="container">
      <div class="row">
        <div class="span2 visible-desktop spacer">
          <%= render 'includes/sidemenu' %>
        </div>
        <div class="span9 spacer">
          <%= yield =%>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :inline_scripts if content_for? :inline_scripts %>
  </body>
</html>