<!DOCTYPE html>
<html>
  <head>
    <title>Elk</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <%= render 'includes/menu' %>

    <% if(!notice.nil?) %>
      <p class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <%= notice %>
      </p>
    <% end %>

    <% if(!alert.nil?) %>
      <div class="alert alert-dismissable alert-danger">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <%= alert %>
      </div>
    <% end %>

    <div class="container-fluid">
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-lg-2 col-md-2 visible-lg visible-md spacer">
            <%= render 'includes/sidemenu' %>
          </div>
        <% end %>
        <div class="col-lg-10 col-md-10 spacer">
          <%= yield =%>
        </div>
      </div>
    </div>
    <%= javascript_include_tag "application" %>
    <%= yield :inline_scripts if content_for? :inline_scripts %>
  </body>
</html>
